---
// index du Blog
import BaseLayout from "../../layouts/Base.astro"
---

<BaseLayout>
    <h1>Blog</h1>
    <h2>Liste des articles</h2>

    <ul>
        <li><a href="/blog/article-test">Article test</a></li>
    </ul>
</BaseLayout>

